body {
    /* Hình nền trong thư mục Images */
    background-image: url("/Images/pitbull.jpg");
    /* Không bị lặp lại hình */
    background-repeat: no-repeat;
    background-size: cover;
    /* Cố định hình nền */
    background-attachment: fixed;
    height: 2500px;
}
.model {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.model-dialog {
    background: #fff;
    width: 450px;
    margin: auto;
    margin-top: 10%;
}
.model-heading {
    border-bottom: 1px solid #aaa;
}
.model-title {
    margin: 0;
    /* top bottom :5px  right left :15px*/
    padding: 5px 15px;
    font-size: 14px;
}
.model-footer {
    border-top: 1px solid #aaa;
    padding: 5px 10px;
}
.model-body {
    padding: 10px;
}
.btn {
    padding: 5px 15px;
    border: 1px solid #0000;
    border-radius: 4px;
}
.btn-success {
    background: green;
    color: #fff;
}
.btn-close {
    float: right;
    border:#0000 ;
    background-color: #fff;
    color: red;
    margin-top: 2px;
    margin-right: 3px;
}